<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<targets>
		<target name="console" xsi:type="Console" />

		<target name="file" xsi:type="File"
			layout="${longdate} ${logger} ${message} / ${exception} / ${stacktrace}"
			fileName="${basedir}/logs/AppLog.${shortdate}.txt"
			maxArchiveFiles="10"
			archiveAboveSize="10240" />
		
		<target xsi:type="Database"
		  name="dbTarget"
		  connectionString="Data Source=.;Initial Catalog=BankDatabase;Integrated Security=true;"
		  commandText="INSERT INTO [dbo].[Logs] ([Event],[Description],[DateTime],[UserID],[Application]) VALUES (@event,@msg,@datetime,@user,@app)">
			<parameter name="@event" layout="0" />
			<parameter name="@msg" layout="Level: ${level}; Message: ${message} / ${exception} / ${stacktrace}; Logger: ${logger}" />
			<parameter name="@datetime" layout="${date}" />
			<parameter name="@user" layout="-100" />
			<parameter name="@app" layout="TaskService" />
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="file" />
		<logger name="*" minlevel="Trace" writeTo="dbTarget" />
		<logger name="*" minlevel="Trace" writeTo="console" />
	</rules>
</nlog>